# Server
SERVER_PORT=8080
APP_MODE=http
APP_ENV=development

# Internal
INTERNAL_KEY=your-internal-secret-key

# JWT
JWT_SECRET=your-jwt-secret-min-32-chars
JWT_ISSUER=gr31-backend
JWT_ACCESS_TTL_HOURS=24
JWT_REFRESH_TTL_DAYS=30
SUPER_ADMIN_EMAILS=admin@gr31.sch.id,superadmin@gr31.sch.id

# AstraDB
ASTRA_DB_ENDPOINT=https://<uuid>-<region>.apps.astra.datastax.com
ASTRA_DB_TOKEN=AstraCS:...
ASTRA_DB_KEYSPACE=gr31

# Redis
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_IDEMPOTENCY_TTL_SECONDS=86400
REDIS_CACHE_TTL_SECONDS=300

# Upload
UPLOAD_DIR=./uploads
UPLOAD_MAX_SIZE_MB=5

# Sekolah Config
SEKOLAH_LAT=-6.1819399
SEKOLAH_LNG=106.8518572
SEKOLAH_RADIUS_METER=50
ABSENSI_START_HOUR=5
ABSENSI_START_MINUTE=30
ABSENSI_END_HOUR=7
ABSENSI_END_MINUTE=0

# Optional drivers
OUTBOUND_MESSAGE_DRIVER=none
OUTBOUND_CACHE_DRIVER=redis
OUTBOUND_WORKFLOW_DRIVER=none
